@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.dev-status-prod {
	background-color: green;
}

.dev-status-dev {
	background-color: yellow;
}

.dev-status-exp {
	background-color: red;
}

/*
	Code block styling
*/
.language-mat,
.language-py
{
	padding: 1em;
	border-radius: 0.5em;
	display: block;
	overflow-x: auto;
}

.language-mat {
	background-color: #fff7f0 !important; // Light orange
	color: #1a1a1a;
}

.language-py {
	background-color: #f0fff4 !important; // Light greenish
	color: #1a1a1a;
}
